/* Resetting default margins and paddings */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Basic styling for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #252323;
    padding: 20px;
}

/* Styling for the main heading */
h1 {
    font-size: 32px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

/* Styling for the secondary headings */
h2 {
    font-size: 24px;
    color: #d5d1d1;
    margin-bottom: 10px;
}

h3 {
    color: #d5d1d1;
    margin-bottom: 10px;
}

/* Styling for the paragraph text */
p {
    font-size: 16px;
    color: #e1e0e0;
    line-height: 1.5;
    margin-bottom: 15px;
}

/* Styling for bold text */
b {
    font-weight: bold;
}

/* Styling for the iframe */
iframe {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
}

/* Styling for the link */
a {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
    margin-top: 20px;
}

/* Styling for the link hover state */
a:hover {
    text-decoration: underline;
}

/* Media query for smaller screens */
@media screen and (max-width: 900px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    a {
        font-size: 16px;
    }
    img {
        width: 300px; /* Set the width to 200 pixels */
        height: auto; /* Let the browser calculate the height to maintain aspect ratio */
      }
      
}
