/* Resetting default margin and padding */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Styling the body */
body {
    font-family: Arial, sans-serif;
    background: rgba(0, 0, 0, 0.7) url(/IMG/549892_free-metal-gear-solid-rising-gaming-backgrounds-for-your-website_1600x1000_h.jpg);
    padding: 20px;
    text-align: center;
}

/* Styling the header */
h1 {
    color: #fffefe;
    margin-bottom: 20px;
}

/* Styling the paragraph */
p {
    color: #afabab;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Styling the link */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Media query for responsiveness */
@media (max-width: 900px) {
    /* Adjusting font size for smaller screens */
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
    }
}
